.gitmodules
.travis.yml
build

ice/*
ice/cpp/*
ice/cpp/src/*
ice/cpp/include/*

!ice/cpp/src/slice2js
!ice/cpp/src/IceUtil
!ice/cpp/src/Slice

!ice/cpp/include/IceUtil
!ice/cpp/include/Slice

!ice/slice/Ice
!ice/slice/IceGrid
!ice/slice/Glacier2
!ice/slice/IceStorm
!ice/slice/IceSSL

*.tgz