# scripts that are called at very beginning, before repo cloning
init:
    - git config --global core.autocrlf input

# set clone depth, clone entire repository history if not defined
clone_depth: 1

# build version
version: "{build}"

# clone directory
clone_folder: c:\projects\npm-slice2js

# NodeJS versions to test
environment:
  matrix:
      - nodejs_version: "10"
        APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015

      - nodejs_version: "11"
        APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015

      - nodejs_version: "10"
        APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017

      - nodejs_version: "11"
        APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017

install:
    - git submodule update --init --recursive
    - ps: Install-Product node $env:nodejs_version
    - node --version
    - npm --version
    - npm install

build: off

test_script:
    - npm test

notifications:
    - provider: Slack
      auth_token:
          secure: L9I+bbHT46GkooHwElptGZuhEOcoE3D8DQw5nzbqQUQfeEApXHGFiGLwT5gCn36vMjjE3LlpuAGc7mQbH8Dy3YzrK+4058CWN8OKSRtGjeY=
      channel: '#builds'
